{% extends 'prueba.html' %}

{% block content %}
    <a href="{% url 'web:vista1' %}">Click</a>

    <ul>
        {% for product in products %}
            <li>{{ product.id }} / {{ product.name }} / {{ product.cate.name }}</li>
        {% endfor %}
    </ul>
{%  endblock %}
