{% extends 'body.html' %}
{% load widget_tweaks %}

{% block content %}
    <form method="post" action=".">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-plus"></i>
                    {{ title }}
                </h3>
            </div>
            <div class="card-body">
                {% csrf_token %}

            {% if form.errors %}
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                    <h5><i class="icon fas fa-ban">Ha ocurrido un error al guardar un registro</i></h5>
                <ul>
                    {% for field in form %}
                        {% for error in field.errors%}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
                </div>
            {% endif %}

                {{ form.errors }}

                {% for field in form.visible_fields %}
                    <div class="form-group">
                        <label for="email">{{ field.label }} :</label>
                        {{ field|add_class:'form-control'|attr:'autocomplete:off' }}
                    </div>
                {% endfor %}
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-flat btnTest">
                    <i class="fas fa-save"></i> Guardar Registro
                </button>
            </div>
        </div>
    </form>
    <script>
        {% if form.errors %}
            var errors = '';
            {% for field in form %}
                {% for error in field.errors %}
                    errors+='{{ error }}\n';
                {% endfor %}
            {% endfor %}
            Swal.fire({
                title: 'Error!',
                text: errors,
                icon: 'error'
        });
        {% endif %}
    </script>
{% endblock %}