{% extends 'list.html' %}

{% block columns %}
    <tr>
        <th scope="col" style="with:10%;">Nro</th>
        <th scope="col" style="with:70%;">Nombre</th>
        <th scope="col" style="with:20%;">Opciones</th>
    </tr>
{% endblock %}

{% block rows %}
    {% for c in object_list %}
        <tr>
            <td>{{ c.id }}</td>
            <td>{{ c.name }}</td>
            <td>
                <button type="button" class="btn btn-warning btn-xs btn-flat"><i class="fas fa-edit"></i></button>
                <button type="button" class="btn btn-danger btn-xs btn-flat"><i class="fas fa-trash-alt"></i></button>
            </td>
        </tr>
    {% endfor %}
{% endblock %}


